/* GENERICS */

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

/* UTILITIES */

/* Containers:  */

.container-1200 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-1000 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.w-10 {
  width: 10%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3 - 40px);
}

.w-33.middle {
  margin: 0 60px;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-90 {
  width: 90%;
}

.largebox {
  margin: 30px 0;
}

.row {
  padding: 0 15px;
  font-size: 14px;
}

.square-180 {
  height: 216.7px;
  width: 50%;
}

.gy-border {
  border: 1px solid lightgray;
}

/* Float/Position:  */

.flt {
  float: left;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.pos-relative {
  position: relative;
}

/* Buttons:  */

.blue-btn {
  background-color: rgb(0, 97, 255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  padding: 5px 20px;
  margin-right: 30px;
  font-size: 16px;
}

.white-btn {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  padding: 5px 20px;
  margin-right: 30px;
  font-size: 16px;
  color: black;
}

/* Texts:  */

.txt-right {
  text-align: right;
}

.gr-txt {
  color: lightgray;
}

/* Others:  */

.pad-l-30 {
  padding-left: 30px;
}

/* Lists Style:  */

ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

li {
  padding-left: 1.3em;
  margin-bottom: 15px;
}

li:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
}

li.check:before {
  content: "\f00c";
  font-weight: 900;
  color: rgb(0, 97, 255);
}

li.user:before {
  content: "\f007";
}

li.folder:before {
  content: "\f07b";
}

li.pencil:before {
  content: "\f303";
  font-weight: 900;
}

li.smile:before {
  content: "\f118";
}

li.user-plus:before {
  content: "\f234";
  font-weight: 900;
}

/* TOP HEADER BAR */

header {
  width: 100%;
  margin: 0 auto;
}

#header-bar {
  height: 80px;
  line-height: 80px;
}

#header-bar nav {
  display: inline;
  vertical-align: middle;
  padding: 0 15px;
}

#header-bar nav a {
  padding: 0 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#header-bar img {
  vertical-align: middle;
  margin-left: 15px;
}

/* JUMBOTRON */

#jumbotron {
  height: 650px;
  margin-bottom: 150px;
  background-color: rgb(180, 208, 230);
}

#jumbotron h1 {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: 60px;
}

#jumbotron img {
  padding: 16px;
  object-fit: cover;
}

#jumbotron .blue-btn {
  font-size: 18px;
  padding: 8px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  display: inline-block;
}

#jumbotron p {
  font-weight: bold;
}

#jumbotron .fa-arrow-down {
  font-size: 35px;
  margin: 20px 0;
}

/* SUBSCRIPTION OPTIONS SECTION  */
/* n. 3 Columns 30%:  */

#subscription-options .w-33 {
  height: 750px;
  margin-top: 40px;
}

.small-row {
  height: 36px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  font-size: 12px;
}

#subscription-options .price {
  font-weight: bold;
}

#subscription-options .length {
  color: grey;
  margin-top: 10px;
}

.btn-container {
  text-align: center;
  margin: 40px 0 20px 0;
}

#subscription-options .col-fit-btn {
  background-color: rgb(0, 97, 255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}
/* Footer Prices Table: */
#subscription-options .largebox .w-50 {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin: 15px 0 5px 0;
}

#subscription-options .largebox h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#subscription-options
  .largebox
  .w-50
  .blue-btn {
  padding-left: 80px;
  padding-right: 80px;
  margin-right: 0;
}

/* DROPBOX PARTNER SECTION */

#dropbox-partner p {
  margin: 40px 0 40px 0;
}

/* DROPBOX OPERATIONS SECTION - CARDS  */

#dropbox-operations img {
  margin-top: 50px;
}

/* SPONSORS SECTION  */

/* Background-colors: */

#sponsors .container-1200 {
  margin-top: 31.54px;
}

.light-green {
  background-color: rgb(162, 211, 155);
}

.bordeaux {
  background-color: rgb(97, 8, 43);
}

.blue-sky {
  background-color: rgb(0, 147, 206);
}

.red {
  background-color: rgb(255, 28, 28);
}

.dark-red {
  background-color: rgb(213, 0, 31);
}

.light-blue {
  background-color: rgb(180, 208, 231);
}

.blue {
  background-color: rgb(13, 36, 129);
}

.yellow {
  background-color: rgb(255, 216, 48);
}

/* Sponsors logos Img: */

#sponsors .square-180 img {
  width: 70%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
}

/* Sponsors Citations:  */

#sponsors .w-40 {
  padding: 40px;
}

#sponsors .w-40 img {
  width: 30%;
  height: auto;
}

.spons-quote {
  margin: 50px 0;
}

/* Sponsors Section Footer:  */

#sponsors .sponsors-footer {
  background-color: rgb(180, 208, 230);
  height: 244px;
  padding: 60px 0;
}

.sponsors-footer h2 {
  color: rgb(97, 8, 43);
  margin: 0;
}

.sponsors-footer .white-btn {
  display: inline-block;
  border: white;
  padding: 6px 40px;
  margin-right: 0;
  margin-top: 12px;
  font-weight: bold;
}

/* FAQ SECTION  */

#faq .w-10 {
  text-align: right;
}

#faq .w-10 i {
  margin-top: 21.5px;
  margin-right: 25px;
  font-size: 20px;
}

.faq-row {
  border-top: 1px solid lightgray;
}

#faq h3 {
  margin-bottom: 40px;
}

.faq-row h4 {
  margin: 35px 0;
}

.faq-row:last-of-type {
  border-bottom: 1px solid lightgray;
}
